### Go template
*.o
*.a
*.so

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.exe~
*.test
*.out
*.prof
*.dll
*.dylib

*rice-box.go
*rice-box.syso

dist/
vendor/
vendor.orig/
_vendor-*/
.idea/
